template_version: 24
strategy: pure_market_making

exchange: sera
market: XSGD-MYRT

bid_spread: 0.25
ask_spread: 0.25
minimum_spread: -100
order_refresh_time: 300
max_order_age: 1800
order_refresh_tolerance_pct: 0
order_amount: 200

price_ceiling: -1
price_floor: -1
moving_price_band_enabled: false
price_ceiling_pct: 1
price_floor_pct: -1
price_band_refresh_time: 86400

ping_pong_enabled: false
inventory_skew_enabled: false
inventory_target_base_pct: 50
inventory_range_multiplier: 1
inventory_price: 1

order_levels: 3
order_level_amount: 0
order_level_spread: 0.25
filled_order_delay: 60

hanging_orders_enabled: false
hanging_orders_cancel_pct: 10

order_optimization_enabled: false
ask_order_optimization_depth: 0
bid_order_optimization_depth: 0
add_transaction_costs: false

price_source: current_market
price_type: mid_price
price_source_exchange: null
price_source_market: null
price_source_custom_api: null
custom_api_update_interval: 5
take_if_crossed: true

order_override: null

split_order_levels_enabled: true
use_vl_orders: true
vl_order_markets: XSGD-MYRT,XSGD-USDT
bid_order_level_spreads: 0.25,0.5,1
ask_order_level_spreads: 0.25,0.5,1
bid_order_level_amounts: 100,200,300
ask_order_level_amounts: 100,200,300
should_wait_order_cancel_confirmation: true
